body {
    background: rgb(128, 19, 91);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px;
    text-justify: auto;
  }
.h1{
    text-align: center;
  }

.Lista{
    text-align: center;
}
.Lista1 {
    width: 200px;
    height: 300px;

}

.Lista11 {
    width: 550px;
    height: 300px;
}
.Recuerdo{
    width: 200px;
    height: 400px;
    margin-bottom: 30px;
}
.contenedor{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}
.Recuerdo1{
    display: flex;
    width: 200px;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.p{
    text-align: center;
}
